.header {
    display: flex;
    flex-direction: row;
}
i {
    font-size: 20px;
    padding-top: 15px;
    margin-left: 20px;
}
.dapp {
  display:flex;
  align-items: center;
  margin-left: 30px;  
}
.bar {
    font-size: 20px;
    padding-top: 15px;
    margin-left: 30px;
}