* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: row;
}
i {
    font-size: 20px;
    margin-left: 20px;
}
.dapp {
  display:flex;
  align-items: center;
  margin-left: 30px;
  text-decoration: underline;  
}
header {
    margin-top: 20px;
}
.bar {
    font-size: 20px;
    margin-left: 30px;
}
.wallet {
    color: darkblue;
}
h1 {
    margin-left: 30px;
    margin-top: 40px;
}
.plat {
    margin-top: 30px;
    color: darkblue;
}