* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: row;
}
.bag {
    font-size: 20px;
    margin-left: 20px;
    color: brown;
}
.dapp {
  display:flex;
  align-items: center;
  margin-left: 30px;
  text-decoration: underline; 
  font-family: 'Montserrat', sans-serif; 
}
header {
    margin-top: 20px;
}
.bar {
    font-size: 20px;
    margin-left: 30px;
}
.wallet {
    color: darkblue;
}
h1 {
    margin-left: 30px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    width: 90px;
}
.plat {
    margin-top: 30px;
    color: hsl(240, 100%, 27%);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}
h2 {
    margin-left: 30px;
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
}
.pa {
    margin: 20px 30px;
}
.par {
    font-family: 'Montserrat', sans-serif;
}
